<div ng-hide="basket.isEmpty()" >
    <div><ng-include src="'partials/basket.html'"/></div>
    <button ui-sref="order()">Continue</button>  
</div>


<h3>Menu</h3>
<p>"Try one of our great pizzas:"</p>
<ul>
    <li ng-repeat="pizza in menu">{{pizza.id}}. {{pizza.name}} <b>${{pizza.price}}</b>
    <button ng-click="basket.addItem(pizza)">+</button> 
    <button ng-click="openCustomizePizzaDialog(pizza)">customize</button><br />
        {{pizza.printableIngredients()}}
    </li>
</ul>
<p>{{errorMessage}}</p>
